::ng-deep .combo-drop-down .ui-widget-header .ui-chkbox{
    display: none;
} 

::ng-deep .combo-drop-down .ui-multiselect-close.ui-corner-all {
    display: none;
}

::ng-deep .combo-drop-down .ui-multiselect-filter-icon {
    display: none;
}

::ng-deep .combo-drop-down .ui-widget-header .ui-inputtext {
    width: auto;
    border: none;
}

::ng-deep .combo-drop-down .ui-multiselect {
    border: none;
    font-size: 12px;
    border-bottom: 1px solid lightgrey;
    min-width: 100%;
    border-radius: 0px;
}